*{
    box-sizing:border-box;

}
.container{
    border: 2px solid blue;
    height:400px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content:center;
    align-items: center;
    gap:20px;
}
.box{
    border:2px solid greenyellow;
    margin: 10px 0;

}
#box1{
    order:1;
    flex-grow: 1;
    flex-shrink: 2;
}
#box4{
    order:2;
}